<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="email" translate="label" sortOrder="100">
            <label>Email Notification Configuration</label>
        </tab>
        <section id="email" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
              <label>Configuration</label>
                <tab>email</tab>
                <resource>Fw_EmailNotification::email_config</resource>
                <group id="review_approval_display" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Email Notifcation Setting on Review Approval</label>
                        <field id="scope" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                            <label>Enable</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="fromemailaddress" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                            <label>From Email Address</label>
                            <comment><![CDATA[NOte this email must be in the SMTP HOST]]></comment>
                        </field>
                </group>
                <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Admin Email Reveiws Configuration</label>
                        <field id="scope" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                            <label>Enable</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>

                    <field id="addemailaddress" translate="label comment" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Send an Copy of Email that will receive</label>
                        <comment><![CDATA[Comma Separated]]>
                        </comment>
                    </field>
                </group>
        </section>
    </system>
</config>   